DB_HOST=localhost
DB_PORT=5432
DB_NAME=rys_db
DB_USER=postgres
DB_PASSWORD=seninsifren
PORT=3001
JWT_SECRET=gizlianahtar
JWT_EXPIRES_IN=8h
EMAIL_USER=senin_gmail_adresin@gmail.com
EMAIL_PASS=gmail_uygulama_sifren
ADMIN_EMAIL=yonetici_mail_adresi@gmail.com